<section  class="grid grid-cols-1 md:grid-cols-12 gap-5">
  <div class="md:col-span-8">
    <article  itemscope itemtype="https://schema.org/NewsArticle">
      @if(article){
      <meta itemprop="mainEntityOfPage"
          [content]="'/' + slugifyService.slugify(article.rubrique.rubrique) + '/' + slugifyService.slugify(article.sousrubrique.sousrubrique) + '/' + article.slug"
      />

      <meta itemprop="thumbnailUrl" [content]="article.image_url" />
      <meta itemprop="description" [content]="article.chapeau" />
      <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Camer.be" />
        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="https://www.camer.be/logo.png" />
        </span>
      </span>
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="name" [content]="article.auteur">
      </span>

      <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" [content]="article.image_url" />
        <meta itemprop="width" content="{{article.image_width}}" />
        <meta itemprop="height" content="{{article.image_height}}" />
      </span>
      <meta itemprop="articleSection" content="{{article.rubrique.rubrique}} / {{article.sousrubrique.sousrubrique}}" />
      <meta itemprop="wordCount" [content]="wordCount" />
      <meta itemprop="keywords" [content]="keyWord()" />
      <meta itemprop="dateModified" [attr.datetime]="dateModif()" />

      <p-card class="list-camer-card">
        <ng-template pTemplate="header">
          <a href="">
          <div class="relative card-image-container-article">
            <img

              [ngSrc]="getImageUrl(article)"
              alt="{{ article.countries.pays }} :: {{ article.titre }}"
              title="{{ article.countries.pays }} :: {{ article.titre }}"
              fill
              class="object-cover"
              priority
            >
            <p-tag severity="warn"  [rounded]="true" class="top-3 left-3 z-5 absolute">
                        <div class="flex items-center gap-2 px-1">
                          <img alt="{{ article.countries.pays}}" src="https://flagcdn.com/16x12/{{ article.fkpays.toLowerCase()}}.webp" />
                          <span class="text-base">{{article.sousrubrique.sousrubrique }}</span>
                        </div>
                      </p-tag>
          </div>

          </a>
        </ng-template>
        <ng-template  pTemplate="title">
          <h3 class="card-title border-l-4 border-orange-300 !text-teal-700 md:!text-3xl" itemprop="headline">{{ article.titre }}</h3>
        </ng-template>
        <ng-template #subtitle>
          <time itemprop="datePublished" [attr.datetime]="article.dateparution">
            <div class="card-subtitle">

              <i class="pi pi-user"></i> {{ article.auteur }}
              <i class="pi pi-calendar"></i><span class="card-date">{{article.dateparution| date: 'dd MMM yyyy HH:mm:ss'}}</span>
                <span class="card-separator">•</span>
              <i class="pi pi-eye"></i><span class="card-author">{{ article.hit }}</span>
            </div>
          </time>
        </ng-template>
        <div #articleContentContainer itemprop="articleBody" [innerHTML]="sanitizer.bypassSecurityTrustHtml(article.info || '')" class="card-content card-info video-responsive"></div>
        <div class="py-3">
          <app-viralize-ad [zid]="'AADZ2f-Di1Vp9x2i'"
          />
         </div>
         @defer (on idle) {
        <app-related-articles [relatedArticles]="relatedArticles()"></app-related-articles>
        }
        <p-divider></p-divider>
        <div id="taboola-below-article-thumbnails"></div>

      </p-card>

      }
    </article>
  </div>
  <div class="md:col-span-4">
    @defer (on idle) {
    <app-most-readed-rubrique-country [mostReadedArticles]="mostReadeArticles()" class="pb-3 !rounded-t-md"/>

    <p-divider></p-divider>
    <p-card>
      <ng-template pTemplate="content">
        <div class="p-2">
          <h3>moneytizer</h3>
          <app-ad-moneytizer [appId]="'9307-3'" [zoneId]="'AADZ2f-Di1Vp9x2i'" />
        </div>
      </ng-template>
    </p-card>

    <p-divider></p-divider>
    <app-sport [sportArticles]="sports()" />
    <p-divider></p-divider>

    <app-debat-droit />

    }


  </div>

</section>
