<section class="related-articles-section">
    <p-divider align="left" type="solid">
      <strong class="uppercase text-teal-700"><i class="pi pi-clipboard mr-1 text-red-700"></i>Dans la même rubrique</strong>
    </p-divider>
  <div class="">

     <p-carousel
        [value]="relatedArticles"
        [numVisible]="2"
        [numScroll]="1"
        [circular]="true"
        [showIndicators]="true"
        [showNavigators]="false"
        [autoplayInterval]="5000"
        containerClass="shadow-3 border-round"
        contentClass="bg-white border-round"
        [responsiveOptions]="responsiveOptions"


     >
      <ng-template #header>

      </ng-template>
      <ng-template let-article pTemplate="item">
        <div class="m-2 p-4">
          <div class="mb-2 relative">
            <div class=" mx-auto card-image-container">
              <img
                [ngSrc]="article.image_url"
                fill
                class="object-cover"
                alt="{{article.countries.pays}} :: {{article.titre }}"
                title="{{article.countries.pays}} :: {{article.titre }}"

                 />
            </div>
            <p-tag
              [value]="article.sousrubrique.sousrubrique"
              [severity]="'warn'"
              class="absolute top-3 left-3 z-10"

            />
              <div
                class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/80 to-transparent p-2 transition-opacity duration-500 opacity-100 group-hover:opacity-100">
                  <h2
                    class="text-white text-sm  font-semibold mb-2 uppercase">
                  {{ article.titre }}
                </h2>

                <!-- <a
                    itemprop="url"
                    rel="noopener noreferrer"
                    [routerLink]="['/'+slugifyService.slugify(article.rubrique.rubrique)+'/'+slugifyService.slugify(article.sousrubrique.sousrubrique),article.slug]"
                    class="w-full"
                  > -->
                  <p-button
                    (onClick)="gotoArticle(article.rubrique.rubrique,article.sousrubrique.sousrubrique ,article.slug)"

                    label="Lire"

                    icon="pi pi-arrow-right"
                    styleClass="p-button-rounded p-button-outlined p-button-success w-full"
                  ></p-button>
                <!-- </a> -->
              </div>
          </div>

        </div>
      </ng-template>
     </p-carousel>
    <!-- } -->

  </div>
</section>
