  <section class="grid grid-cols-1 md:grid-cols-12 gap-4 mt-5">
    <div class="col-span-1 md:col-span-8">
      <app-index [indexArticles]="listIndex()"></app-index>
    </div>
    <div class="col-span-1 md:col-span-4">
      @defer(on idle){
      <app-sport [sportArticles]="sports()" />
      <p-divider></p-divider>
      <p-card>
        <ng-template pTemplate="content">

          <div class="p-2">
            <h3>Adsense</h3>
            <app-adsense
              [adClient]="'ca-pub-8638642715460968'"
              [adSlot]="'6927429462'"
              [adFormat]="'auto'"
              [fullWidthResponsive]="true"

            >

            </app-adsense>
          </div>
        </ng-template>
      </p-card>
<!--

      <p-card>
        <ng-template pTemplate="content">
          <div class="p-2">
            <h3>Viralize</h3>
           <app-viralize-ad [zid]="'AADZ2f-Di1Vp9x2i'"/>

          </div>
        </ng-template>
      </p-card> -->

      <p-divider></p-divider>

      <app-debat-droit />
    }
    </div>
  </section>


