<footer class="bg-teal-900 text-white">
  <div class="container mx-auto px-4 py-12">
   <div class="grid grid-cols-1">
       <div class="flex flex-col w-full">
          <app-archives [articleWeekList]="articleWeekList" [articleMonthkList]="articleMonthkList" [articleYearList]="articleYearList">

          </app-archives>
          <div class="border-t border-gray-700 mt-4 pt-4 text-center">
              <p class="text-gray-400">©2005 - {{ currentYear }}
                <a routerLink="/accueil" tabindex="0" (click)="gotoHome()"  class="text-teal-600 hover:none cursor-pointer" >Camer.be</a> Tous droits réservés.</p>
          </div>
       </div>
   </div>
  </div>
  <p-scrolltop />
</footer>
