
<section class="grid grid-cols-1 md:grid-cols-12 gap-4 mt-5">
  <!-- Main Content -->
  <div class="col-span-1 md:col-span-8">
    <app-author-search [articles]="authorArticles()" [authorName]="authorName()" />
    <p-divider />
    <p-card>
      <div id="taboola-below-article-thumbnails"></div>
    </p-card>
  </div>

  <!-- Sidebar -->
  <div class="col-span-1 md:col-span-4 flex flex-col gap-4">
    <app-social-media />
    <p-divider />
    <p-card>
      <div class="p-2">
        <app-viralize-ad zid="AADZ2f-Di1Vp9x2i" />
      </div>
    </p-card>
    <p-divider />
    <app-debat-droit />
  </div>
</section>
