
    <div class="grid">
      <p-dataview #dv
        [value]="rubriqueArticles()"
        [rows]="10"
        [paginator]="rubriqueArticles().length>0"
        [layout]="'grid'"
        [rowsPerPageOptions]="[5,10,20]"
        class="px-4"

      >
        <ng-template #header>
          <h2 class="md:text-2xl uppercase font-semibold text-teal-700">{{ label() }}</h2>
        </ng-template>
        <ng-template #grid let-items>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            @for(item of items;track $index){
            <div>
              <article itemscope itemtype="https://schema.org/NewsArticle">
                <meta itemprop="mainEntityOfPage"
                  [content]="`/` + slugifyService.slugify(item.rubrique.rubrique) + '/' + slugifyService.slugify(item.sousrubrique.sousrubrique) + '/' + item.slug" />
                <meta itemprop="thumbnailUrl" [content]="item.image_url" />
                <meta itemprop="description" [content]="item.chapeau" />
                <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                  <meta itemprop="name" content="Camer.be" />
                  <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="https://www.camer.be/logo.png" />
                  </span>
                </span>
                <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                  <meta itemprop="name" [content]="item.auteur">
                </span>

                <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                  <meta itemprop="url" [content]="item.image_url" />
                  <meta itemprop="width" content="{{item.image_width}}" />
                  <meta itemprop="height" content="{{item.image_height}}" />
                </span>
                <meta itemprop="articleSection" content="{{item.sousrubrique.sousrubrique}}" />
                <meta itemprop="wordCount" [content]="wordCount(item.info)" />
                <meta itemprop="keywords" [content]="keywordAndHashtagService.removeHashtags(item.keyword)" />
                <meta itemprop="dateModified" [attr.datetime]="dateModif()" />
                <p-card class="list-camer-card my-4">

                    <ng-template pTemplate="header">
                      <div class="card-image-container relative">

                      <img
                        [ngSrc]="item.image_url"
                        alt="{{ item.countries.pays }} :: {{ item.titre }}"
                        title="{{ item.countries.pays }} :: {{ item.titre }}"
                        fill
                        class="object-cover"

                        />


                      </div>
                      <p-tag severity="warn" value="{{item.sousrubrique.sousrubrique }}" [rounded]="true" class="bottom-80 right-3 z-5 absolute"/>
                    </ng-template>
                    <ng-template pTemplate="title">
                      <h4 class="card-title line-clamp-2">{{ item.titre }}</h4>
                    </ng-template>
                    <ng-template pTemplate="subheader">
                      <time itemprop="datePublished" [attr.datetime]="item.dateparution">
                          <div class="card-subtitle">
                            <i class="pi pi-calendar"></i><span class="card-date">{{item.dateparution| date: 'dd MMM yyyy HH:mm:ss'}}</span>
                            <span class="card-separator">•</span>
                            <i class="pi pi-eye"></i><span class="card-author">{{ item.hit }}</span>
                          </div>
                      </time>
                    </ng-template>
                    <div class="card-content">
                      <p class="card-chapeau line-clamp-4">{{ item.chapeau }}</p>
                    </div>
                    <ng-template pTemplate="footer">
                      <!-- <div> -->

                        <a
                          pButton
                          [routerLink]="['/'+slugifyService.slugify(item.rubrique.rubrique)+'/'+slugifyService.slugify(item.sousrubrique.sousrubrique),item.slug]"
                          class="w-full"
                          >
                          <span class="mr-1">Lire</span><i class="pi pi-eye"></i>
                        </a>
                      <!-- </div> -->
                    </ng-template>
                  <!-- -->

                </p-card>
              </article>
            </div>
            }
          </div>

        </ng-template>
      </p-dataview>

    </div>

