<section class="grid grid-cols-1 md:grid-cols-12 gap-4 mt-5">
	<div class="col-span-1 md:col-span-8">
    <div id="a-propos" class="mb-6 px-4">
        <p-card>
          <ng-template #header>
            <div class="bg-green-500 rounded-t-lg p-2">
              <h3 class="text-xl font-semibold text-white m-0 uppercase">

                <i class="pi pi-info-circle mr-2"></i>À propos de Camer.be
              </h3>
            </div>
          </ng-template>

            <div class="text-gray-700 leading-relaxed">
                <p class="mb-4">
                    <strong>Camer.be</strong> est un site d’information et de contenu numérique de référence,
                    entièrement dédié à l’actualité et aux sujets d’intérêt général liés au
                    <strong>Cameroun</strong> et à l’<strong>Afrique</strong>.
                </p>
                <p>
                    Notre mission est de fournir une information fiable et en temps réel pour connecter
                    la diaspora et les résidents aux enjeux majeurs du continent.
                    Besoin de nous joindre ? Consultez nos <a routerLink="/contact/contact#coordonnees"  class="text-teal-600 underline font-medium">coordonnées</a>
                    ou envoyez-nous un <a routerLink="/contact/contact#formulaire-contact"   class="text-teal-600 underline font-medium">message direct</a>.
                </p>
            </div>
        </p-card>
    </div>

    <p-dataview #dv [layout]="'grid'" [value]="contacts" class="px-4">
        <ng-template #header>
            <h2 id="coordonnees" class="md:text-2xl uppercase font-semibold text-teal-700">
                <i class="pi pi-check mr-2"></i>contact
            </h2>
        </ng-template>

        <ng-template #grid let-items>
            <div class="col-12">
                <p-card>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        @for(item of items; track $index){
                        <div class="flex flex-col border-r border-r-emerald-200 last:border-r-0 pr-4">
                            <span class="font-semibold text-teal-700 uppercase">{{ item.country }}
                                <p-tag severity="success" [rounded]="true" class="ml-2">
                                    <div class="flex items-center gap-2 px-1">
                                        <img alt="{{ item.country}}" src="https://flagcdn.com/16x12/{{ item.flag}}.webp" />
                                    </div>
                                </p-tag>
                            </span>
                            <span style="white-space: pre-line;">{{parsePhones(item.phones) }} </span>
                        </div>
                        }
                    </div>

                    <p-divider></p-divider>

                    <h2 id="formulaire-contact" class="md:text-2xl uppercase font-semibold text-teal-700">
                        <i class="pi pi-check mr-2"></i>nous contacter
                    </h2>

                    <div class="form-portion mx-auto">
                        <form class="p-5 mt-5" [formGroup]="contactForm">
                            <div class="initials flex md:flex-row flex-col justify-between gap-4">
                                <input pInputText formControlName="nom" type="text" id="nom"
                                    placeholder="Votre nom et prénom ..."
                                    class="flex-grow px-4 py-2 rounded-xl focus:ring-teal-500 focus:border-teal-500" required>

                                <input pInputText type="email" formControlName="email" id="email"
                                    placeholder="Votre email ... "
                                    class="flex-grow px-4 py-2 rounded-xl focus:ring-teal-500 focus:border-teal-500" required>
                            </div>

                            <div class="mt-5">
                                <div class="mt-2">
                                    <label for="subject" class="text-lg font-medium text-gray-700 block mb-1">Objet : </label>
                                    <input pInputText type="text" formControlName="subject" placeholder="Votre objet ..."
                                        class="w-full px-4 py-2 rounded-xl focus:ring-teal-500 focus:border-teal-500" required>
                                </div>

                                <div class="mt-5">
                                    <label for="message" class="text-lg font-medium text-gray-700 block mb-1">Message : </label>
                                    <textarea pTextarea formControlName="message" rows="5" placeholder="Votre message ..."
                                        class="w-full px-4 py-2 rounded-xl appearance-none text-md focus:ring-teal-500 focus:border-teal-500"
                                        autoComplete="off" spellCheck="false" required></textarea>
                                </div>
                            </div>

                            <div class="mt-5">
                                <div class="g-recaptcha" data-action="LOGIN" formControlName="recaptchaReactive"
                                    [attr.data-sitekey]="reCaptcha"></div>
                                @if(recaptchaReactive?.invalid && (recaptchaReactive?.touched || recaptchaReactive?.dirty)){
                                <div class="text-red-500 text-sm mt-1">
                                    Veuillez cocher la case reCAPTCHA.
                                </div>
                                }
                            </div>

                            <div class="btn mt-2 w-[100%] bg-transparent flex items-center">
                                <button type="submit"
                                    class="px-4 py-2 mx-auto rounded-xl text-center text-xl bg-black text-white hover:text-black hover:bg-white hover:font-bold hover:shadow-xl">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </p-card>
            </div>
        </ng-template>
        <div id="taboola-below-article-thumbnails"></div>
    </p-dataview>
</div>
  <div class="col-span-1 md:col-span-4">

    <app-social-media />

      <p-divider/>
      <p-card>
        <ng-template pTemplate="content">

          <div class="p-2">
            <app-adsense
            [adClient]="'ca-pub-8638642715460968'"
            [adSlot]="'6927429462'"
            [adFormat]="'auto'"
            [fullWidthResponsive]="true"
            class="p-3 bg-white border-round"
          ></app-adsense>

          </div>
        </ng-template>
      </p-card>

      <app-debat-droit />
      <app-viralize-ad [zid]="'AADZ2f-Di1Vp9x2i'"/>
    </div>
</section>
